.version.reservorio_de_agua /* version checker */
{
	color: #0000FB;
	background-color: #01F02E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -44px;
}

#u2366
{
	z-index: 3;
	padding-bottom: 5px;
}

#u2415
{
	z-index: 101;
	width: 121px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 84px;
}

#menuu2331
{
	z-index: 32;
	width: 71px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 229px;
}

#u2332
{
	width: 71px;
	min-height: 28px;
	margin-right: -10000px;
}

#u2333
{
	width: 71px;
	padding-bottom: 6px;
}

#u2333:hover
{
	margin: 0px;
}

#u2333:active
{
	margin: 0px;
}

#u2335-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u2333:hover #u2335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2333:active #u2335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu2295
{
	z-index: 25;
	width: 119px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 312px;
}

#u2296
{
	width: 119px;
	min-height: 36px;
	margin-right: -10000px;
}

#u2297
{
	width: 119px;
	padding-bottom: 14px;
}

#u2333.MuseMenuActive,#u2297:hover
{
	margin: 0px;
}

#u2297:active
{
	margin: 0px;
}

#u2299-4
{
	width: 119px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u2333.MuseMenuActive #u2335-4,#u2297:hover #u2299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2297:active #u2299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu2259
{
	z-index: 18;
	width: 179px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 453px;
}

#u2260
{
	width: 179px;
	min-height: 36px;
	margin-right: -10000px;
}

#u2261
{
	width: 179px;
	padding-bottom: 14px;
}

#u2297.MuseMenuActive,#u2261:hover
{
	margin: 0px;
}

#u2261:active
{
	margin: 0px;
}

#u2264-4
{
	width: 179px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u2297.MuseMenuActive #u2299-4,#u2261:hover #u2264-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2261:active #u2264-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu2158
{
	z-index: 4;
	width: 126px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 645px;
}

#u2159
{
	width: 126px;
	min-height: 36px;
	margin-right: -10000px;
}

#u2211
{
	width: 126px;
	padding-bottom: 14px;
}

#u2261.MuseMenuActive,#u2211:hover
{
	margin: 0px;
}

#u2211:active
{
	margin: 0px;
}

#u2212-4
{
	width: 126px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u2261.MuseMenuActive #u2264-4,#u2211:hover #u2212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2211:active #u2212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu2223
{
	z-index: 11;
	width: 118px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 785px;
}

#u2255
{
	width: 118px;
	padding-bottom: 14px;
}

#u2211.MuseMenuActive,#u2255:hover
{
	margin: 0px;
}

#u2255:active
{
	margin: 0px;
}

#u2257-4
{
	width: 118px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u2211.MuseMenuActive #u2212-4,#u2255:hover #u2257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2255:active #u2257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu2339
{
	z-index: 39;
	width: 118px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 922px;
}

#u2224,#u2340
{
	width: 118px;
	min-height: 36px;
	margin-right: -10000px;
}

#u2341
{
	width: 118px;
	padding-bottom: 14px;
}

#u2255.MuseMenuActive,#u2341:hover
{
	margin: 0px;
}

#u2341:active
{
	margin: 0px;
}

#u2341.MuseMenuActive
{
	margin: 0px;
}

#u2343-4
{
	width: 104px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u2255.MuseMenuActive #u2257-4,#u2341:hover #u2343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2341:active #u2343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2341.MuseMenuActive #u2343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2342
{
	z-index: 46;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 11px;
	left: 104px;
}

#u2341:hover #u2342
{
	margin: 0px -10000px 0px 0px;
}

#u2341:active #u2342
{
	margin: 0px -10000px 0px 0px;
}

#u2341.MuseMenuActive #u2342
{
	margin: 0px -10000px 0px 0px;
}

#u2345
{
	width: 120px;
	top: 36px;
}

#u2357
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2357:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2360-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2357:hover #u2360-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2346,#u2354,#u2347
{
	width: 120px;
}

#u2348
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2357.MuseMenuActive,#u2348:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2348.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2351-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2357.MuseMenuActive #u2360-4,#u2348:hover #u2351-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2348.MuseMenuActive #u2351-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2366-bw
{
	z-index: 3;
	height: 88px;
}

#u2812-7
{
	z-index: 109;
	width: 890px;
	min-height: 25px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 98px;
	position: relative;
}

#u2812
{
	font-size: 18px;
	line-height: 22px;
}

#u2812-3
{
	font-weight: bold;
	line-height: 17px;
}

#u2812-2,#u2812-4
{
	font-weight: normal;
	line-height: 17px;
}

#pu2804
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 10px;
}

#u2804
{
	z-index: 103;
	width: 222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#pu2811-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 242px;
}

#u2811-4
{
	z-index: 105;
	width: 381px;
	min-height: 18px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #F15A24;
	margin-left: 133px;
	position: relative;
}

#u2814-10
{
	z-index: 116;
	width: 658px;
	min-height: 25px;
	background-color: transparent;
	color: #1B1464;
	text-align: justify;
	font-weight: bold;
	position: relative;
}

#u2812-5,#u2814-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2814-8 > #u2814-7:before
{
	line-height: 1.2;
}

#u2814-6
{
	color: #FF0000;
	line-height: 17px;
}

#u2815-19
{
	z-index: 126;
	width: 340px;
	min-height: 132px;
	background-color: transparent;
	color: #1B1464;
	text-align: justify;
	margin-left: 305px;
	margin-top: 14px;
	position: relative;
}

#u2814-5,#u2815-4,#u2815-6,#u2815-8,#u2815-10,#u2815-12
{
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
}

#u2815-15
{
	font-weight: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2815-13
{
	font-size: 12px;
	line-height: 14px;
}

#u2814,#u2815-14
{
	line-height: 17px;
}

#u2815-2,#u2815-16,#u2815-17
{
	font-weight: bold;
}

#pu2367
{
	width: 0.01px;
	margin-left: -100px;
}

#u2367
{
	z-index: 2;
}

#u2366_align_to_page,#u2367_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2371-13
{
	z-index: 61;
	width: 257px;
	min-height: 78px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 125px;
}

#u2372-14
{
	z-index: 74;
	width: 272px;
	min-height: 94px;
	margin-bottom: -3px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 406px;
}

#u2374
{
	z-index: 95;
	width: 43px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 921px;
}

#u2380
{
	z-index: 97;
	width: 40px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 981px;
}

#u2386
{
	z-index: 99;
	width: 47px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1038px;
}

#u2367-bw
{
	z-index: 2;
	height: 105px;
}

#u2373-7
{
	z-index: 88;
	width: 220px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 595px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

